<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:tx="http://www.springframework.org/schema/tx"
    xmlns:aop="http://www.springframework.org/schema/aop"
    xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/aop
        http://www.springframework.org/schema/aop/spring-aop.xsd
        http://www.springframework.org/schema/tx
        http://www.springframework.org/schema/tx/spring-tx.xsd">
        
	<context:property-placeholder location="db/production/db.properties"/>
	
    <bean id="dataSource1" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
   		<property name="uniqueResourceName" value="dataSource1" />
   		<property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" />
   		<property name="xaProperties">
   			<props>
   				<prop key="user">${jdbc.username}</prop>
   				<prop key="password">${jdbc.password}</prop>
   				<prop key="URL">${jdbc.url}</prop>
   			</props>
   		</property>
   		<property name="poolSize" value="10" />
   		<property name="minPoolSize" value="10" />
   		<property name="maxPoolSize" value="10" />
   		<property name="borrowConnectionTimeout" value="60" />
   		<property name="maxIdleTime" value="60" />
   		<property name="maintenanceInterval" value="60" />
   		<property name="reapTimeout" value="3000" />
   		<property name="loginTimeout" value="60" />
   		<property name="testQuery" value="select 1" />
    </bean>
    
    <bean id="dataSource2" class="com.atomikos.jdbc.AtomikosDataSourceBean" init-method="init" destroy-method="close">
   		<property name="uniqueResourceName" value="dataSource2" />
   		<property name="xaDataSourceClassName" value="com.mysql.jdbc.jdbc2.optional.MysqlXADataSource" />
   		<property name="xaProperties">
   			<props>
   				<prop key="user">${jdbc.username}</prop>
   				<prop key="password">${jdbc.password}</prop>
   				<prop key="URL">${jdbc.url}</prop>
   			</props>
   		</property>
   		<property name="poolSize" value="10" />
   		<property name="minPoolSize" value="10" />
   		<property name="maxPoolSize" value="10" />
   		<property name="borrowConnectionTimeout" value="60" />
   		<property name="maxIdleTime" value="60" />
   		<property name="maintenanceInterval" value="60" />
   		<property name="reapTimeout" value="3000" />
   		<property name="loginTimeout" value="60" />
   		<property name="testQuery" value="select 1" />
    </bean>
</beans>